__pycache__
sentiment_analysis/data_exploration/.ipynb_checkpoints
sentiment_analysis/preprocessing/__pycache__
sentiment_analysis/__pycache__
sentiment_analysis/train/__pycache__
api/__pycache__
api/v0/__pycache__
api/v0/m
.env
dask-worker-space/
html/
sentiment-user.csv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
cache/models/lstmv1
cache/models/lstmv2
cache/models/lstmv1.h5
cache/bert